[Desktop Entry]
Type=Application
Name=Color Picker
Comment=Pick a color from the screen to the clipboard
Exec=/home/m/Dotfiles/scripts/color-picker.sh
Icon=/home/m/Dotfiles/applications/icons/color-picker.png
Terminal=false
Categories=Utility;
