[Desktop Entry]
Type=Application
Name=Color Picker
Comment=Pick a color from the screen to the clipboard
Exec=sh -c 'pkill hyprpicker || hyprpicker -a'
Icon=color-select-symbolic
Terminal=false
Categories=Utility;
