[Desktop Entry]
Type=Application
Name=Notifications
Comment=Browse the notification history and show one again
Exec=/home/m/.local/bin/rustbar notifications history
Icon=/home/m/Dotfiles/applications/icons/notifications.png
Terminal=false
Categories=Utility;
