[Unit]
Description=Switch power profile based on AC/Battery
After=upower.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/power-mode.sh

[Install]
WantedBy=multi-user.target
