@define-color fg #d6e2ee;
@define-color bg #16242d;
@define-color accent #4d86b0;
@define-color dim #6fa4c9;
@define-color title #8bc9eb;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    color: @fg;
}

window#waybar {
    background-color: @bg;
}

button {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.module {
    margin: 0;
    padding: 0 0.5rem;
}

.module:hover,
button:hover,
#workspaces button.focused {
    background: inherit;
    box-shadow: inset 0 1px @fg;
}

#workspaces {
    padding: 0;
}

#workspaces:hover {
    box-shadow: none;
}

#workspaces button {
    padding: 0 0.5rem;
}

#mode {
    font-style: italic;
    color: @accent;
}

#window {
    color: @title;
}

#mpris.paused,
#custom-dnd.paused {
    color: @dim;
}

#custom-recording.recording,
#battery.critical:not(.charging) {
    color: @accent;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}
